/* General */
img {
    max-width: 100%;
    display: block;
}

section {
    padding: 4rem 0;
}

/* Utilities */
.splitter .bar {
    border: 3px solid white;
    border-radius: 3px;
    width: 20%;
}

.btn-green {
    background-color: #1abc9c;
    color: #fff;
}

/* Header */
header {
    background-color: #2c3e50;
}

header nav {
    min-height: 100px;;
}

/* Hero */
.hero {
    background-color: #1abc9c;
}

.hero-image {
    width: 50%;
    margin: 0 auto;
}

/* About */
.about {
    background-color: #1abc9c;
}

.about .card {
    background-color: #1abc9c;
}

.about p {
    color: white;
}

/* Contact */
.contacts ::placeholder {
    color: #000;
}

/* Footer */
.footer-top {
    background-color: #3a546d;
}

.footer-top i {
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
}

.footer-bottom {
    height: 60px;
    background-color: #2c3e50;
}